@import './cover.css';
@import './queries.css';
@import './gradients.css';

body {
  position: absolute;
  left: 0px;
  right: 0px;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.isDisabled {
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}                            

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

#mc_embed_signup {
  clear: left;
  width: 100%;
}

p.lead {
  font-size: 1.5rem;
  line-height: normal;
  margin-bottom: 20px;
  color: black;
}

.intro {
  max-width: fit-content;
}


p#recovery {
 margin-bottom: 20px;
}

p#donate {
 margin-bottom: 20px;
}

.footer p {
  margin: 10px 0;
}

.brand-gradient {
  background-image: linear-gradient(to right, #805ad5, #be5ad5);
  /* You can adjust the direction, e.g., to bottom, to top right, etc. */
  /* background-image: linear-gradient(to bottom, #805ad5, #db2777); */
}